/* FONTS
font-family: 'Baloo Da 2', cursive; --HEADING 2
font-family: 'IBM Plex Sans KR', sans-serif; -- KOREAN TEXT
font-family: 'Megrim', cursive; --HEADINGS 1
font-family: 'Share', cursive; --ALL OTHER BODY TEXT
font-family: 'Zen Kaku Gothic Antique', sans-serif; --JAPANESE TEXT
*/



/* UNIVERSAL STYLES */

body {
    font-family: 'Share', cursive;
    background-color: #55286F;
    color: #E7CFCD;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link {
    color: #E7CFCD;
}

a:visited {
    color: #CAB1BD;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Baloo Da 2', cursive;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-family: 'Share', cursive;
    font-size: 30px;
}

a {
    font-family: 'Share', cursive;
    font-size: 25px;
}

ul {
    font-family: 'Share', cursive;
}

footer {
    font-family: 'Share', cursive;
}

.lyric-page {
    text-align: center;
}

/* HOME PAGE STYLES */

/* NAVIGATION MENU */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    background-color: #210B2C;
    
}

.header-logo {
    font-size: 2em;
}

.header-options {
    font-size: 2em;
}

/* WEBSITE DESCRIPTION/OBJECTIVES */

.main-description {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-description img {
    height: 200px;
    width: 200px;
    text-align: center;
}

.home-section {
    height: 400px; 
}


.home-about p {
    height: 100px;
    text-align: center;
}




/* ARTIST DIRECTORY STYLES */

.artist-directory {
    text-align: center;
}




/* ARTIST PAGE STYLES */

.artist-page {
    text-align: center;
}

.artist-page img {
    height: 200px;
    width: 200px;
}


/* ALBUM DIRECTORY STYLES */

.album-directory {
    text-align: center;
}

/* ALBUM SONG DIRECTORY STYLES */

.album-song-directory {
    text-align: center;
}

.album-song-directory img {
    height: 200px;
    width: 200px;
}


/* LYRICS PAGE STYLES */

/* this defines transition to hover state and the pre-highlighted state */
.lyric-page span {
    background-color:  #55286F;
    color: #E7CFCD;
    transition: .2s;
}

/* this defines the state of the word upon hover */
.lyric-page span:hover {
    background-color:  #E7CFCD;
    color: #55286F;
    cursor: default;
}

.tooltip {
    position: relative; /* makes the tooltip span a container for tooltip text */
}

/* this is the state before the user hovers */
.tooltip::before {
    content: attr(data-text); /* this takes data-text attr of parent element and uses it as the content */
    position: absolute; /* changing this to relative displaces the whole block of main lyric text */

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* basic styles */
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #E7CFCD;
    text-align: left;
    margin-left: 50px;
    display: none; /* hides box by default */

}

/* makes the tooltip text show when hovering */

.tooltip:hover::before {
    display: block;

}