/* FONTS
font-family: 'Baloo Da 2', cursive; --HEADING 2
font-family: 'IBM Plex Sans KR', sans-serif; -- KOREAN TEXT
font-family: 'Megrim', cursive; --HEADING 1
font-family: 'Share', cursive; --ALL OTHER BODY TEXT
font-family: 'Zen Kaku Gothic Antique', sans-serif; --JAPANESE TEXT
*/



/* UNIVERSAL STYLES */

body {
    font-family: 'Share', cursive;
    background-color: #55286F;
    color: #FFB6C1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link {
    color: #FFB6C1;
}

a:visited {
    color: #FFD0D7;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Baloo Da 2', cursive;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-family: 'Share', cursive;
    font-size: 30px;
}

a {
    font-family: 'Share', cursive;
    font-size: 25px;
}

ul {
    font-family: 'Share', cursive;
}

footer {
    font-family: 'Share', cursive;
}




/* HOME PAGE STYLES */

/* NAVIGATION MENU */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    background-color: #210B2C;
    
}

.main-options {
    font-size: 2em;
    height: 200px;
}

/* .header-logo {
    font-size: 2em;
}

.header-options {
    font-size: 2em;
} */

/* WEBSITE DESCRIPTION/OBJECTIVES */

.main-description {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-section {
    height: 200px;
    margin-top: 35px;
}

.main-description img {
    height: 200px;
    width: 200px;
    text-align: center;
}

.home-section {
    height: 400px; 
}


.home-about p {
    height: 100px;
    text-align: center;
}




/* ARTIST DIRECTORY STYLES */

.artist-directory {
    text-align: center;
}




/* ARTIST PAGE STYLES */

.artist-page {
    text-align: center;
}

.artist-page img {
    height: 200px;
    width: 200px;
}


/* ALBUM DIRECTORY STYLES */

.album-directory {
    text-align: center;
}

/* ALBUM SONG DIRECTORY STYLES */

.album-song-directory {
    text-align: center;
}

.album-song-directory img {
    height: 200px;
    width: 200px;
}


/* LYRICS PAGE STYLES */

.lyric-page {
    text-align: center;
    font-size: 30px;
}

/* this defines transition to hover state and the pre-highlighted state */
.lyric-page .popup {
    background-color:  #55286F;
    color: #E7CFCD;
    transition: .2s;
}

/* this defines the state of the word upon hover */
.lyric-page .popup:hover {
    background-color:  #E7CFCD;
    color: #55286F;
    cursor: pointer;
}

/* Popup Container */

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The Popup (appears on top) */

.popup .popuptext {
	visibility: hidden;
	width: 300px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute; /* this is what allows the visible text to center */
	z-index: 1;
	bottom: 125%;
	left: -80%;
	margin-left: -80px;
}

/* Popup Arrow */

/* .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
} */

/* Toggle this class when clicking on the popup container (hide and show) */

.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 0.2s;
	animation: fadeIn 0.2s;
}

/* Add animation */

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}




/* FLASH CARD PAGE STYLES */

 .flash-page {
    text-align: center;
    display: flex;
    
    flex-wrap: wrap;
}

/* .flash-page .flash-title {
    align-self: center;
    margin-top: 100px;
} */

.card {
    height: 200px;
    width: 350px;
    background-color: transparent;
    perspective: 1000px;
    margin: 45px;
    line-height: 0.7em;
}

.card-front {
    background-color: #210B2C;
    color: #FFB6C1;
    font-size: 25px;
}

.card-back {
    background-color: #FFB6C1;
    color: #210B2C;
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 5px #000;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}